.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  margin: 20px;
  color: white;
}

:root {
  --foreground: black;
  --background: white;
}

:root * {
  color: var(--foreground);
  background-color: var(--background);
}

.text {
  /* width: 80%; */
  background-color: white;
  color: black;
}
.button {
  background-color: skyblue;
}
